.ce_venoBox_field_wrapper th,.ce_venoBox_field_wrapper td {padding: 5px;border-collapse: collapse;}
.ce_venoBox_field_wrapper>table{background-color: #F5F5F5;}
.ce_venoBox_field_wrapper .styled_select,.ce_venoBox_field_wrapper .mySelect{width: 200px;}
.ce_venoBox_field_wrapper input{width: 200px;}

